/* znaczniki nadrzędne */

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	}	
	
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	}

/* znaczniki podrzędne */	

a.button {
	margin: 15px;
	}
	
a.look {
	text-decoration-style: double;
	text-decoration-line: overline;
	color: #00FF00;
	}
	
a.menu {
	text-decoration: none;
	}
	
blockquote {
	border: 2px solid #00FF00;
	padding: 2px 5px 2px 5px;
	background-color: #000000;
	}

details {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	cursor: pointer;
}	

dialog {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	color: #0000FF;
	margin: 20px 20px 20px 20px;
	border: 2px solid #00FF00;
	}

div.asideright {
	float: right;
	position: relative;
	z-index: 1;
	margin-left: 30px;
	border: 0.5;
	border-color: #FFFFFF;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #000000;
	width: 230px;
	height: 100%;
	}
	
div.asideleft {
	float: left;
	position: relative;
	z-index: 1;
	margin-right: 30px;
	border: 0.5;
	border-color: #FFFFFF;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #000000;
	width: 230px;
	height: 100%;
	}
	
div.container {
	float: center;
	border: 0.5;
	border-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	margin: 10px 230px 10px 230px;
	word-break: inherit;
	position: relative;
	height: 100%;
}

div.mobile {
	margin-left: 30px;
	}

fieldset {
	background-color: #546E7A;
	text-shadow: 1px 1px 1px #FFFFFF;
	}

figcaption {
	font-family: Calibri;
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
	display: block;
	}
	
hr {
	border-top: 2px solid #FFFFFF;
	}
	
legend {
	font-family: Calibri Light;
	font-size: 16px;
	font-weight: bold;
	color: #00FF00;
	margin-left: 10px;
	margin-right: 10px;
	word-break: inherit;
	text-shadow: none;
	}	
	
li {
	line-height: 20px;
	}
	
li.main {	
	color: #00FF00;
	font-weight: bold;
	font-size: 18px;
	}
	
li.menu {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 10px;
	}
	
p, q, label {
	font-family: Calibri Light;
	color: #FFFFFF;
	font-size: 16px;
	word-break: inherit;
	}
	
p.footer2 {
	text-decoration-style: wavy;
	text-decoration-line: overline underline;
	word-break: inherit;
	cursor: pointer;
	}
	
summary {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: #FFBC40;
	cursor: pointer;
	-moz-outline: none;
	outline: none;
	}
	
table {
	font-family: Calibri;
	font-size: 16px;
	border: 1px solid chartreuse;
	background-color: #000000;
	padding: 5px 10px 5px 10px;
	width: 80%;
	}
	
tbody {
	color: #FFFFFF;
	}
	
td, th {
	padding: 5px 10px 5px 10px;
	}	
	
tfoot {
	color: 	#0080FF;
	text-align: center;
	}
	
thead {
	color: #FFFF00;
	text-align: center;
	}

ul, ol { 
	font-family: Calibri Light;
	font-size: 16px;
	color: #00FF00;
	line-height: 30px;
	}
	
/* klasy */

.blink {
	animation-name: blink;
	animation-duration: 10s;
	animation-iteration-count: infinite;
			
		}

		@keyframes blink {
			0% {opacity: 0;}
			12,5% {opacity: 0.125;}
			25% {opacity: 0.25;}
			37.5% {opacity: 0.375;}
			50% {opacity: 0.50;}
			62,5% {opacity: 0.625;}
			75% {opacity: 0.75;}
			87.5% {opacity: 0.875;}
			100% {opacity: 0;}
		}
		
.block {
	display: block;
	}
	
.bold {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	}
	
.button {
	font-family: Calibri;
	font-size: 1.25em;
	font-weight: bold;
	margin: 4px 2px;
	padding: 15px 32px;
	text-decoration: none;
	text-align: center;
	border: 1;
	border-style: solid;
	border-color: #000000;
	background-color: #008CBA;
	display: inline-block;
	cursor: pointer;
	}
	
.dfn {
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	margin-right: 5px;
	color: #00FF00;
	}

.email {
	color: #00FF00;
	}	
	
.footer {
	font-weight: bold;
	border: 0.5;
	border-color: #FFFFFF;
	border-top-style: solid;
	word-break: inherit;
	width:100%;
	position: relative;
	}
	
.full {
	width: 100%;
	margin: auto;
	}

.img {
	outline-width: 1px;
	outline-style: solid;
	outline-color: #FFFFFF;
	cursor: pointer;
	}

.inline {
	display: inline;
	}
	
.inline-block {
	display: inline-block;
	}
	
.logo {
	border: 0.5;
	border-color: #FFFFFF;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #000000;
	width: 100%;
	}	
	
.logo1 {
	font-family: Calibri;
	font-size: 4em;
	text-shadow: 14px 3px 4px #00FF00;
	color: #000000;	
	-webkit-text-stroke: 1px #FFFFFF;
	cursor: pointer;
	}

.look {
	font-size: 1em;
	}
	
.mark {
	font-family: Calibri;
	font-size: 1.5em;
	outline-color: #00FF00;
	outline-style: solid;
	outline-width: 1px;
	margin-left: 10px;
	text-shadow: 1px 1px 1px #FFBC40;
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	}
	
.nav {
	border: 0.5;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: #FFFFFF;
	width: 100%;
	}
	
.span {
	font-family: Calibri;
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 15px;
	}
	
.stroke {
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: #000000;
	}
	
.whitestroke {
	-webkit-text-stroke-width: 0.125px;
	-webkit-text-stroke-color: #FFFFFF;
	}
	
/* identyfikatory */
	
#menu2 {
	clear: both;
	-webkit-text-stroke-width: 0.25px;
	-webkit-text-stroke-color: #FFBC40;
	}
	
#shoutbox_outer_713031643 {
	clear: both;
	cursor: pointer;
	margin: 10px 10px 10px 10px;
	}
	
/* mobilne */

div.maside {
	float: center;
	border: 0.5;
	border-color: #FFFFFF;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #000000;
	width: 100%;
	}
	
div.mcontainer {
	float: center;
	border: 0.5;
	border-color: #FFFFFF;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-image: url(images/b_background.jpg);
	padding: 40px 20px 40px 20px;
	}
	
.mbutton {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 2px;
	padding: 12px 24px;
	text-decoration: none;
	text-align: center;
	border: 1;
	border-style: solid;
	border-color: #000000;
	background-color: #008CBA;
	display: inline-block;
	cursor: pointer;
	}
	
.mdfn {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 10px;
	color: #00FF00;
	}
	
.mimg {
	outline-width: 1px;
	outline-style: solid;
	outline-color: #FFFFFF;
	width: 75%;
	cursor: pointer;
	}
	
.mmark {
	font-family: Calibri;
	font-size: 1.5em;
	outline-color: #00FF00;
	outline-style: solid;
	outline-width: 1px;
	text-shadow: 1px 1px 1px #FFBC40;
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	}